#navcol{
    background: linear-gradient(90deg ,rgb(82, 200, 200),rgb(6, 166, 113));
    height: 200px;
}
.innav{
    text-align: center;
    font-size: 15px;
    color: white;
    padding-top: 20px;
}
/* .innav1{
    border: 2px solid red;
    width: 1000px;
    margin: auto;
} */
.innav2{
    width: 290px;
    /* border: 2px solid red; */
    margin: auto;
    text-align: center;
    /* margin-top: 100px; */
    height: 55px;
    margin:auto;
    padding-top: 30px;
    /* padding-bottom: 0px; */
    background-color: white;
}
.innav2>a{
    /* height: 50px; */
    /* width: 350px; */
    /* border: 2px solid red; */
    background-color: white;
    padding: 30px 30px;
    /* align-items: center; */
    /* margin:auto; */

}
#biganc{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.anc{
    /* border: 2px solid red; */
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.anc>a{
    /* border: 2px solid red; */
    text-align: center;
    padding: 30px 30px;
}
a{
    text-decoration: none;
}