
#nav{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
    height: 40px;
    align-items: center;
}
#nav .navin:nth-child(1),#nav2 .nav2in:nth-child(1){
    width: 35%;
    display: flex;
    justify-content: space-between;
}
#nav .navin:nth-child(2)>a:hover{
    color:white;
    background-color:rgb(250, 84, 28);
}
#bignav{
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: rgb(137, 137, 137);
}
#nav2{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
    /* text-align: center; */
    margin-top: 30px;
    padding: 20px 0px;
}
#nav2 .nav2in:nth-child(1){
    width: 40%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    font-style: unset;

}
#nav2 .nav2in:nth-child(1)>img{
    width: 20%;
}
#nav2>.nav2in:nth-child(2){
    width: 20%;
    font-size: 20px;
}
#nav2 .butt>button:hover{
    background-color: rgb(255, 187, 0);
    border: 0px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
}
.soft{
    display: none;
    /* border: 2px solid blue; */
    background-color: white;
    width: 800px;
    padding: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
.soft .insoft{
    display: flex;
    width: 326px;
    margin: auto;
    gap: 30px;
}
.soft .insubcon{
    width: 225px;
    margin: 10px 0px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}
.subcon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
/* .soft>div>div:nth-child(1){
    
    width: 225px;
    padding-left: 20px;

} */
.hov:hover .soft{
    display: block;
    position: absolute;
}


.howww:hover>a{
    text-decoration: none;
}
.contz{
    display: none;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;

}
.contz .inconz{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: left;
    padding-left: 70px;
    text-decoration: none;

}
.contz .inconz>a:hover,
.insubcon>p>a:hover,
.soft .insoft>button>a:hover

{
    color: red;
    text-decoration: underline;
}
.howww:hover .contz{
    display: block;
    position: absolute
}

/* .contz div a{
    text-decoration: none;
} */
#color{
    background-color: rgb(250, 84, 28);
    height: 630px;
}
#color>.cont{
    width: 1000px;
    display: flex;
    margin: auto;
    align-items: center;
    padding-top: 50px;
}
#color>.cont>div:nth-child(1){
    width: 400%;
    display: grid;
    font-size: 30px;
}
#color>.cont>div:nth-child(1)>h1,h6,h4{
    margin: 2%;
    color: white;

}
#color>.cont>div:nth-child(1)>button{
    height: 60px;
    width: 300px;
    font-size: 20px;
    border-radius: 5px;
    border: 0px;
}
#color>.cont>div:nth-child(2)>img{
    width: 190%;
}
#nav .navin:nth-child(1)>a,
#nav2 .navin:nth-child(1)>a,
#nav .navin:nth-child(2)>a,
#nav2 .navin:nth-child(2)>a,
.contz .inconz>a,
.hov>a,.pri>a,.insubcon>p>a,
.howww>a,
.soft .insoft>button>a
{
    text-decoration: none;
}
#butt{
    color: red;
}
#text{
    margin-top: 200px;
    width: 1000px;
    margin: auto;
    padding-top: 50px;
}
#text>div{
    text-align: center;
}
#text>div>h3{
    text-align: left;
    color: rgb(129, 127, 127);
}
#text>div>button{
    height: 40px;
    padding: 10px;
    width: 200px;
    background-color: white;
    color: red;
}
#text>div>button:nth-child(1){
    background-color: red;
    color: white;
    margin-right:10px;
}
#bigbox{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    margin-top: 30px;

}
#bigbox>div{
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 30px;
}
#bigbox>div div{
    margin: 20px 20px;
}
#bigbox div div button{
    /* color: red; */
    width: 200px;
    margin-left: 15%;
    background-color: red;
    border: 0px;
    height: 30px;
}
#color2{
    background: linear-gradient(160deg,rgb(99, 193, 174),rgb(8, 167, 114));
    margin-top: 40px;
    padding-bottom: 40px;
}
#color2 .incolor{
    width: 1000px;
    margin: auto;
}
#color2 .incolor>div{
    width: 700px;
    margin: auto;
    padding: 40px;

}
#color2 .incolor div>h1{
    text-align: center;
    color: white;
}
#color2 .incolor div p{
    color: white; text-align: center;
}
#color2 .incolor2{
    display: grid;
    width:1000px;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
    grid-template-columns: repeat(4,1fr);

}
#color2 .incolor2 div{
    display: grid;
    width: 250px;
    text-align: center;
    color: white;

}
.hov>a:hover,
.pri>a:hover,
.howww>a:hover
{
    color: rgb(28, 67, 174);
    border-radius: 5px;
    border: 1px solid rgb(50, 50, 130);
}
